{% extends 'store/main.html' %}
{% load static %}

<head>
    <style>
        .price-wrapper {
            display: inline-block;
            margin: 0 5px;
        }
        .price-wrapper .currency {
            font-size: medium;
        }
        .action-buttons {
            margin: 0 5px;
        }
        .action-buttons .btn {
            margin: 5px;
        }
    </style>
</head>

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 mb-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>

            <div class="price-wrapper">
                <strong>
                    <span class="currency">₹</span>
                    <span class="price">{{product.price | floatformat:2}}</span>
                </strong>
            </div>

            <div class="action-buttons">
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}